body {
    font-size: 1.5rem;
    width: 100%;
    background-image: url('../images/loginpagebackground.jpg');
    background-repeat: no-repeat;
    --background-size: 100%;
    background-size: 1600px 1200px;
}

.topnav {
    padding: 5px 5px 5px 5px;
    color: white;
    background-color: black;
    width: 90%;
    Margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.alignleft {
    float: left;
    margin: auto;
}

.alignright {
    float: right;
}

.topnav a {
    --float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

    .topnav a:hover {
        background-color: #f4766f;
        color: white;
        border-radius: 10px;
    }


h1 {
}

.textbox {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    text-align: center;
}

.button {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    background-color: #F4766F;
    border-color: #F4766D;
}

#Wrapper {
    margin: auto;
    min-width: 400px;
    text-align: center;
    background-color: black;
    width: 50%;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    padding: 20px;
}
